@font-face {
   font-family: "Alco";
   src: url("../fonts/alcotton.ttf");
   font-weight: 400;
   font-style: normal;
   display: swap;
}

@font-face {
   font-family: "Gogol";
   src: url("../fonts/gogol.ttf");
   font-weight: 400;
   font-style: normal;
   display: swap;
}
